.casesFiltersButton {
  font-size: 48px;
  cursor: pointer;

  &.active {
    color: var(--primary-color)
  }
}

.animationRhomb {
  width: 25px;
  height: 25px;
  border: 3px solid var(--common-color);
  border-radius: 3px;
  transform: rotate(45deg);
  cursor: pointer;

  &.filtersOpened {
    background-color: var(--common-color);
  }

  &.withClearButton {
    background-color: transparent;
    border-color: var(--primary-color);
  }

  &.openedWithClearButton {
    background-color: var(--common-color);
    border-color: var(--primary-color);
  }
}

.clearButtonWrapper {
  animation: fadeIn 0.5s ease;
}

.clearButton {
  font-size: 26px;
  color: var(--primary-color);
  cursor: pointer;
}

.clearAnimationLine {
  border: 1px solid #fb6542;
  width: 35px;
  height: 0;
}

.animationLine {
  width: 80px;
  height: 0;
  border: 1px solid #fff;
  transition: width 0.3s;

  &.hidden {
    width: 0;
    border: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}