.subtitle {
  font-size: 36px;
}

.title {
  font-weight: 300;
  font-size: 64px;
}

.backButton {
  transform: rotate(180deg);
}

.backButtonWrapper {
  width: fit-content;
}

.text {
  font-size: 32px;
}

.categoriesWrapper {
  width: 70%;
}

.imagesContainer {
  margin: 0 -120px;
  padding: 20px 50px;
  overflow-x: auto;
}

.caseImage {
  height: 500px;
}

.card {
  padding: 10px 40px;
}